# Compilados Java
*.class

# Logs
*.log

# Diretórios de build
/target/
/build/

# Arquivos de pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Dumps de JVM
hs_err_pid*
replay_pid*

# Arquivos temporários
*.tmp
*.swp
*.swo
.mtj.tmp/

# Configurações de IDEs
# IntelliJ
.idea/
*.iml
*.iws
out/
# Eclipse
.project
.classpath
.settings/
# VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# BlueJ
*.ctxt

# Banco de dados local
*.h2.db
*.mv.db

# Outros
*.bak

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
